[Desktop Entry]
Name=U2Be Down
GenericName=YouTube Downloader
Comment=Download videos and music from YouTube
Exec=u2be_down
Icon=u2be-down
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;Network;
MimeType=text/uri-list;x-scheme-handler/http;x-scheme-handler/https;
Keywords=youtube;download;video;audio;mp3;converter;
StartupNotify=true
